.bel_drop_down_content{
    display: none;
}

.bel_drop_down{
    position: relative;
    color: #fff;
}
.bel_drop_down_container {
    position: relative;
}

.bel_drop_down_responsive {
    display: none;
    position: relative;
    color: #fff;
}

.bel_drop_down_responsive ~ .bel_drop_down_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 700px) {
    .bel_drop_down_responsive {
        display: block;
    }
    .bel_drop_down_responsive ~ .bel_drop_down_content {
        display: none;
    }
}

.bel_drop_down_content_hover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    right: 100%;
    top: 0;
    gap: 5px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgb(0 21 64 / 10%), 0 10px 20px rgb(0 21 64 / 5%);
    padding: 5px;
}