.belDropDown-content{
    display: none;
}

.belDropDown{
    position: relative;
    color: #fff;
}
.belDropDownContainer {
    position: relative;
}

.belDropDownResponsive {
    display: none;
    position: relative;
    color: #fff;
}

.belDropDownResponsive ~ .belDropDown-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 700px) {
    .belDropDownResponsive {
        display: block;
    }
    .belDropDownResponsive ~ .belDropDown-content {
        display: none;
    }
}

.belDropDown-content-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    right: 100%;
    top: 0;
    gap: 5px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgb(0 21 64 / 10%), 0 10px 20px rgb(0 21 64 / 5%);
    padding: 5px;
}