.button_belray{
    font-family: sans-serif;
    border: 0;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}
.button_belray:disabled{
    background-color: gray;
}
.button_belray:disabled:hover{
    filter: brightness(1);
}

.button_belray:hover{
    filter: brightness(1.25);
}

.button_belray_primary{
    color: #fff;
    background-color: #e74c3c;
    box-shadow: 0 2px 6px rgb(0 21 64 / 10%), 0 10px 20px rgb(0 21 64 / 5%);
}
.button_belray_secondary{
    color: #494949;
    background-color: transparent;
}
.button_belray_small{
    font-size: 12px;
    padding: 10px 15px;
}
.button_belray_medium{
    font-size: 14px;
    padding: 11px 20px;
}
.button_belray_large{
    font-size: 16px;
    padding: 13px 27px;
}