:root {
    --color-primary: #34495d;
    --color-border-gray: #9a9a9a;
    --color-on-primary: #fff;
    --color-links: #208fff;
    --color-on-secondary: #000;
}
.sb-show-main.sb-main-padded{
    padding: 0;
}

* {
    box-sizing: border-box;
}