:root {
    --color-primary: #34495d;
    --color-border-gray: #9a9a9a;
    --color-on-primary: #fff;
    --color-links: #208fff;
    --color-on-secondary: #000;
}
.sb-show-main.sb-main-padded{
    padding: 0;
}

* {
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.grid-item {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    width: 200px;
    height: 200px;
}