.drop_down_content{
    display: none;
}

.drop_down{
    position: relative;
    color: var(--color-on-primary);
    cursor: pointer;
    display: inline-block;
    border: none;
}

.drop_down:hover span path {
    filter: brightness(0.5);
}
.drop_down_container {
    position: relative;
}

.drop_down_responsive {
    display: none;
    position: relative;
    color: var(--color-on-primary);
}

.drop_down_responsive ~ .drop_down_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 700px) {
    .drop_down_responsive {
        display: block;
    }
    .drop_down_responsive ~ .drop_down_content {
        display: none;
    }
}

.drop_down_content_hover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 100%;
    top: 0;
    gap: 5px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgb(0 21 64 / 10%), 0 10px 20px rgb(0 21 64 / 5%);
    padding: 0.5rem 0.5rem;
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99
}