

.table_container{
    overflow-x: auto ;
    padding: 20px;
}

.table_container::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  .table_container::-webkit-scrollbar-thumb:hover{
    background-color: #23313e;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  .table_container::-webkit-scrollbar-track {
    background-color: var(--color-border-gray);
    border-radius: var(--scroll-track-radius, var(--scroll-radius));
  }
  .table_container::-webkit-scrollbar-thumb {
    background-color: var(--colors-primary);
    background-image: var(--scroll-thumb, none);
    border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
  }


.table{
    border-collapse: separate;
    font-size: 0.9rem;
    width: 100%;
    border-bottom: 2px solid var(--color-border-gray);
    border-spacing: 0px 15px;
    padding: 0px 10px 10px 10px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgb(0 21 64 / 10%), 0 10px 20px rgb(0 21 64 / 5%);
}

.table thead tr{
    color: var(--color-on-primary);
    text-align: left;
    border-bottom: 1px solid var(--color-border-gray);
}

.table thead tr th{
    text-align: left;
    color: #707070
}

.table th, table td{
    padding: 12px 15px;
}
.table td a{
    text-decoration: none;
    color: var(--color-links);
}
.table td a:hover{
    text-decoration: underline;
}
.table tbody tr {
    border-bottom: 1px solid var(--color-border-gray);
    text-align: left;
    background-color: #f2f2f2;
}
.table tbody tr:hover {
    filter: brightness(0.95);
    transition: all 0.3s ease-out;
}
.not_info_found{
    text-align: center;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
.caption {
    margin-bottom: 0.8rem;
    font-size: 2rem;
    font-family: sans-serif;
}
.control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10px 0px 10px;
    gap: 10px;
}
.checkbox{
    width: 20px;
    height: 20px;
}


@media screen and (max-width: 700px) {
    .control > button{
        flex-grow: 1;
    }
}

.visually_hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(100%); 
    height: 1px; 
    overflow: hidden; 
    position: absolute; 
    white-space: nowrap; 
    width: 1px; 
  }