.tableContainer{
    overflow-x: auto ;
    padding: 20px;
}
.gesTable{
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    border-bottom: 2px solid #34495e;
}

.gesTable thead tr{
    background-color: #34495e;
    color: #ffffff;
    text-align: left;
}

.gesTable thead tr th{
    text-align: center;
}

.gesTable th, table td{
    padding: 12px 15px;
}
.gesTable tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    background-color: #fff;
}

.gesTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.notInfoFound{
    display: table-cell;
    text-align: center;
    position: relative;
    left: 30%;
}

@media screen and (max-width: 700px) {
}
