:root {
    --color-primary-paginator: #c0392b;
    --color-primary-active-paginator: #e74a39;
    --color-secondary-paginator: #e4e4e4;
    --color-secondary-paginator-hover: #ecf0f1;
    --color-background-paginator: #fff;
}

.container_paginator{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    align-items: flex-end;
    font-family: sans-serif;
}
.container_pages{
    display: flex;
    gap: 5px;
}
.previous, .next{
    cursor: pointer;
    border-radius: 100%;
    background-color: var(--color-secondary-paginator);
    width: 40px;
    height: 40px;
}
.previous:hover{
    background-color: var(--color-secondary-paginator-hover);
    
}

.next:hover{
    background-color: var(--color-secondary-paginator-hover);
}
.next_text, .previous_text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none
    
}
.pages{
    display: flex;
    gap: 5px;
}
.page_link{
    color: var(--color-primary-pagtinator);
    border: 1px solid var(--color-primary-paginator);
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    background-color: var(--color-background-paginator);
}
.page_link:hover{
    filter: brightness(1.2);
}
.page_link_active{
    color: var(--color-on-primary-table);
    background-color: var(--color-primary-paginator);
    filter: brightness(1.2);
}
.next_text > svg{
    width: 10px;
}
.previous_text > svg{
    width: 10px;
}
.next_text > svg {
    transform: rotateY(180deg);
}

@media screen and (max-width: 700px) {
    .container_paginator{
        align-items: center;
    }
}