.container_paginator{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    align-items: flex-end;
    font-family: sans-serif;
}
.container_pages{
    display: flex;
    gap: 5px;
}
.previous, .next{
    cursor: pointer;
    border-radius: 100%;
    background-color: #e4e4e4;
    width: 40px;
    height: 40px;
}
.previous:hover, .next:hover{
    background-color: #ecf0f1;
    
}

.next_text, .previous_text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #000;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none
    
}
.pages{
    display: flex;
    gap: 5px;
}
.page_link{
    color: #c0392b;;
    border: 1px solid #c0392b;;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    background-color: #fff;
}
.page_link_active{
    color: #fff;
    background-color: #c0392b;
}
.next_text > svg{
    width: 10px;
}
.previous_text > svg{
    width: 10px;
}
.next_text > svg {
    transform: rotateY(180deg);
}

@media screen and (max-width: 700px) {
    .container_paginator{
        align-items: center;
    }
}