
.container_paginator{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    align-items: flex-end;
    font-family: sans-serif;
    gap: .8rem;

}
.container_pages{
    display: flex;
    gap: .8rem;
}
.previous, .next{
    border-radius: 100%;
    background-color: #e0e0e0;
    width: 40px;
    height: 40px;
}

.active{
    cursor: pointer !important;
    background-color: #e4e4e4;
}

.active:hover {
    background-color: #ecf0f1;
}

.next_text, .previous_text{
    display: flex;
    cursor: not-allowed;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none
    
}
.pages{
    display: flex;
    gap: .3rem;
    flex-wrap: wrap;
}
.page_link{
    color: #85251b;
    border: 1px solid #85251b;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    background-color: #fff;
}
.page_link:hover{
    filter: brightness(1.2);
}
.page_link_active{
    color: var(--color-on-primary);
    background-color: #85251b;
    filter: brightness(1.2);
}
.next_text > svg{
    width: 10px;
}
.previous_text > svg{
    width: 10px;
}
.next_text > svg {
    transform: rotateY(180deg);
}

@media screen and (max-width: 700px) {
    .container_paginator{
        align-items: center;
    }
}

.visually_hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(100%); 
    height: 1px; 
    overflow: hidden; 
    position: absolute; 
    white-space: nowrap; 
    width: 1px; 
  }
  .arrows_container {
    display: flex;
    gap: 0.2rem;
  }

  

  @media screen and (max-width: 440px) {
    .container_pages {
        flex-direction: column;
        align-items: center;
    }
  }
    
  